@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
:root {
  --logo-green: #32ac42;;
  --background-color: #121212; 
  --btn-bg-color: #a455ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flexbox {
  display: flex;
}